<div id="<%= dom_id ups_token %>">
  <p>
    <strong>Access token:</strong>
    <%= ups_token.access_token %>
  </p>

  <p>
    <strong>Refresh token:</strong>
    <%= ups_token.refresh_token %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= ups_token.expires_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ups_token.user_id %>
  </p>

</div>
